-- You will probably have to change all of this to meaningful values
-- vim: tabstop=4:shiftwidth=4:softtabstop=4:expandtab
local client_config = {
    username = 'username',
    password = 'password',
    datafile = 'data.csv',
    statefile = 'state.json',
    server = '0.1.2.3',
    port = '222',
    username_v2 = 'username',
    password_v2 = 'password',
    server_v2 = '0.1.2.3',
    port_v2 = '222',
    gcal_url = '',
    ical_age = 1800,
    username_v3 = 'username',
    password_v3 = 'password',
    server_v3 = 'wifiplugapi.co.uk',
    port_v3 = 3081,
    happy_face_png = 'http://url-to-image',
    sad_face_png = 'https://url-to-image',
}
return client_config
